@import '~assets/sass/mixins';


.glyphconPad{padding-left:2%}

.pic{
        width:75px;
        height:75px;
    }

.start{
        margin-right:-5%;
        margin-top:0px;
    }
.row{
    &--bgcolor{
        @include bgcolor;
        }
    }
.menu{
    &__topmargin{
        margin-top:0px;
        margin-right:0%;
        margin-left: 0;
        padding: 0;
    }
    &__profile{
        &--image{
            margin-top:10%;
            margin-left: 10%; 
            }
        &--Name{
            margin:15% 0% 15% 0%; 
            font-size:150%;   
            font-family: Century Gothic;
            }
        }   
    &__company--logo{
            margin-left:20%;
            padding-top:1%;
            align-content:center;
    }
    &__home{
        &--marginMod{
            margin-top: 5%;
            margin-left: 19%;
            font-size: 120%;
        }
    }
    &__tab{
        &--menuicon{
            margin-left: 20%; 
            font-size: 120%;
        }
        &--menuscript{
            margin-left:10%;
            display: inline;
        }
    }
    &__firstIcon{
            margin-top: 10%;
            margin-left: 20%;
            font-size: 120%;
    }
}
 
.marginMod{
            margin-left:10%;
            font-size: 120%;
    }

.panel-body{
        &--paddingleft{
            padding-left:2%
        }
    }

hr{
            margin-top: 10px;
            margin-bottom: 10px;
        }

.h4{
            margin-left: 10%; 
            margin-top: 10%;
   }

.panel{
            @include bgcolor;
            border: none;
    &-body{
            padding: 2px;
        }
    &-default{
            @include bgcolor;
        }
    &-heading{
            @include bgcolor;
        .accordion-toggle:after{
            font-family: 'Glyphicons Halflings'; 
            content: "\e114";   
            float: right;     
            color: grey;  
        }
        .accordion-toggle.collapsed:after{
            content: "\e080";
        }
    }
    &-group{
        .panel-heading+.panel-collapse>.panel-body{
            @include bgcolor;
            border: none;
            }
        }
    }

.col-xs-4{
            padding-right: 0;
    }

.img-thumbnail{
            border:0;
    }
.article{
        border-bottom: 1px $color__bordercolor;
}
.font{
    &--sizeModify{
        font-size: 16px;
    }
}
