
.padding0{
        padding-left: 5px;
        padding-right: 0;
        margin: 0;
   &--borderleft{
       border-right: 1px solid #D1D0CE;
        }
    &--borderright{
        border-left: 1px solid #D1D0CE;
    }
    }

.col-md-3,.col-md-9{
        padding:0;
        margin: 0;
    }



.container{
    &__header{
        width:930px;
    }
}

