@import '~assets/sass/mixins';

.padding0{
        padding-left: 5px;
        padding-right: 0;
        margin: 0;
   &--borderleft{
       border-right: 1px solid $color__bordercolor;
        }
    &--borderright{
        border-left: 1px solid $color__bordercolor;
    }
    }

.col-md-3,
.col-md-9{
        padding:0;
        margin: 0;
    }

.col-md-9{
    background-color: white  !important;
}



.container{
    &__header{
        width:930px;
    }
}

.row{
    @include bgcolor;
}

